<h1><%= @song.title %></h1>

<p>
  Author: <%= @song.author %>
</p>

<p>
  <% regex = /youtube.com.*(?:\/|v=)([^&$]+)/ %>
    <% youtube_id = @song.url.match(regex)[1] %>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=youtube_id%>" frameborder="0" allowfullscreen></iframe>
</p>

<hr/>
<a href="/songs">Back to Tracklist</a>