<h2>All Tracks</h2>
<hr>
<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.title %></a></h3>    
    <p>
      By: <%= song.author %>
    </p>
    <p>
      <%= song.url %>
    </p>
  </div>
<% end %>
<hr>
<a href="/songs/tracks">Add more tracks here!</a>